body, button {
    font-family: 'Courier Prime', monospace;
    background-color:  #1a1a1a;
}

img {
    display: block;
    margin: auto;
    padding-top: 200px;
}

input[type=text] {
    display: block;
    margin: 30px auto;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
}

button {
    background-color: #333333;
    border-radius: 2px;
    border: none;
    color: #808080;
    padding: 5px 10px;
}

#leftbutton {
    position: absolute;
    right: 50.2%
}

#rightbutton {
    position: absolute;
    left: 50.2%
}

ul, li {
    display: inline-block;
    list-style-type: none;
}

#navbarleft {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#navbarright {
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#footerleft {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}

#footerright {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
}

a {
    color: #808080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}